{% extends "base.html" %}

{% block title %}Курс{% endblock %}

{% block content %}
<h2>{{ course['name'] }}</h2>
<p>{{ course['description'] }}</p>

<h3>Тести</h3>
<ul class="list-group">
    {% for test in tests %}
        <li class="list-group-item">
            <a href="{{ url_for('test', test_id=test['_id']) }}">{{ test['name'] }}</a>
        </li>
    {% endfor %}
</ul>

<a href="{{ url_for('create_test', course_id=course['_id']) }}" class="btn btn-success mt-3">Додати тест</a>
{% endblock %}
